# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Build
/build/

# Temporary files
*.swp
*.SWO
*.bak
*.tmp

# macOS system files
.DS_Store
.AppleDouble
.LS0verride
._*
.Spotlight-V100
.Trashes
.fseventsd

# Git itself
.git

